<!-- {% load crispy_forms_tags %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head> 
<body>
    <form method="POST" enctype="multipart/form-data">
        <!-- {% csrf_token %}  
            {{ form | crispy }}  
            <button type="submit" class="save btn btn-default">Save</button> 
        -->
    </form>

    <a href="{% url 'addtodo_view' %}">Add ToDo</a>

    <h1>
        LIst of todo :
    </h1>
    <br/>
        
        {% if list %}
            {% for x in list %}
                    <br/>{{ x.title }}   |
                {{ x.detail }}  |   <br/><br/> 
                {{ x.created_at }} |
            {% endfor %}
        {% endif %}
</body>
</html>